@import url("https://rsms.me/inter/inter.css");

$color-dark1: #111111;
$color-dark2: #555555;
$color-dark3: #777777;
$color-dark4: #999999;
$color-light1: #ffffff;
$color-light2: #eeeeee;
$color-light3: #cccccc;
$color-orange: #ff8139;
$color-pink: #ff3998;
$color-green: #39ffa0;
$color-red: #ff3939;
$color-light-green: #edfff6;
$color-light-orange: #fff0e8;

$linear-gradient-button: linear-gradient(
  60deg,
  rgba(255, 131, 145, 1) 0%,
  rgba(253, 106, 95, 1) 22%,
  rgba(243, 123, 83, 1) 75%,
  rgba(212, 207, 165, 1) 100%
);

$linear-gradient-upsell: linear-gradient(
  74deg,
  #ff8391 0%,
  #fd6a5f 22%,
  #f37b53 64%,
  #d4cfa5 100%
);

$image-height: 36px;
$padding-mobile: 32px;

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $color-dark2;
}

a {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;
  color: $color-dark2;
}

.site-container {
  min-width: 428px;
  max-width: 1440px;
  margin: 0 auto;

  padding: 0;
  background-color: $color-light1;
  font-family: "Inter", sans-serif;
}

header {
  $burger-width: 24px;
  $burger-height: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-mobile;

  img {
    height: $image-height;
  }

  #toggle {
    display: none;
    height: $burger-height;
    width: $burger-width;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    width: $burger-width;
    height: $burger-height;
    cursor: pointer;
    position: relative;

    div {
      width: $burger-width;
      height: 4px;
      border-radius: 3px;
      background-color: $color-dark4;
    }

    div:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  nav {
    display: none;
  }

  #toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: $padding-mobile;
    border-radius: 10px;
    background-color: $color-pink;

    a {
      color: $color-light1;
      text-transform: uppercase;
      padding: 16px;
    }

    a:not(:last-child) {
      border-bottom: 1px solid $color-light1;
    }
  }
}

.hero {
  padding: 80px $padding-mobile;
  padding-top: 48px;

  background-image: url("assets/graphic.svg");
  background-position: top -35px right -46vw;
  background-size: 95%;
  background-repeat: no-repeat;

  .text {
    width: 75%;

    * {
      margin: 0;
      padding: 0;
    }

    h2 {
      color: $color-pink;
    }

    h1 {
      color: $color-dark1;
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
      margin: 24px 0;
    }

    button {
      color: $color-dark1;
      line-height: 150%;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      margin-top: 32px;
      cursor: pointer;

      width: 188px;
      height: 75px;
      border-radius: 100px;
      border: 4px solid transparent;

      background: linear-gradient($color-light1, $color-light1) content-box,
        $linear-gradient-button border-box;
    }
  }
}

.upsell {
  .wrapper {
    background-image: $linear-gradient-upsell;

    padding: $padding-mobile;
    padding-top: 106px;

    * {
      margin: 0;
      color: $color-dark1;
    }

    h1 {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      padding: 16px 0;
    }
  }
}
